# ===============================
# Root-level / shared
# ===============================
frontend/**/*.log
HELP.md
.DS_Store
.idea/
.vscode/
*.iml

# ===============================
# backend (Spring Boot)
# ===============================
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

### STS ###
backend/.apt_generated
backend/classpath
backend/factorypath
backend/project
backend/settings
backend/springBeans
backend/sts4-cache

### IntelliJ IDEA ###
backend/**/*.iws
backend/**/*.iml
backend/**/*.ipr

### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


### application ###
backend/src/main/resources/*.properties

# ===============================
# frontend (Nuxt / Node)
# ===============================
### Nuxt dev/build outputs ### 
frontend/**/.output
frontend/**/.data
frontend/**/.nuxt
frontend/**/.nitro
frontend/**/.cache
frontend/dist

###  Node dependencies ### 
frontend/node_modules

# Logs
frontend/logs

# Misc
frontend/**/.fleet

# Local env files
frontend/**/.env
frontend/**/.env.*
!frontend/.env.example
